.boutountag {
  width: 224px;
  padding: 14px;
  border: 2px solid #4caf93;
  border-radius: 10px;
  background: #f7f7f7;
  display: flex;

  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: wrap;
  margin-left: 849px;
  margin-top: -663px;
}
.boutou {
  background-color: #4caf93;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
